<div class="container-fluid">
  <div class="card-box">
    <div class="row">
        <div class="col-md-2">
          <h1>Products</h1>
        </div>
        <div class="col-md-10">
          <%= search_form_for @products_query, url: request.path, class: "form-inline text-right" do |f| %>
            <%= f.search_field :name_cont, class: "form-control", placeholder: "Name" %>
            <%= f.select(:department_id_in, options_from_collection_for_select(Department.order(name: :asc), "id", "name"), {}, {multiple: true, class: 'selectpicker col-md-2', data: {style: 'btn-white', 'none-selected-text': 'Department'}}) %>
            <%# f.select(:promotion_id_in, options_from_collection_for_select(Promotion.order(name: :asc), "id", "code"), {}, {multiple: true, class: 'selectpicker col-md-2', data: {style: 'btn-white', 'none-selected-text': 'Promotion'}}) %>
            <%= select_tag :limit, options_for_select([25, 50, 100], selected: params[:limit]), class: 'form-control' %>
            <%= f.submit 'Search', class: 'btn btn-default', data: {disable_with: 'Please wait'} %>
          <% end %>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <%= sort_link(@products_query, :id, '#') %>
              </th>
              <th>
                <%= sort_link(@products_query, :name) %>
              </th>
              <th>
                <%= sort_link(@products_query, :price) %>
              </th>
              <th>
                <%= sort_link(@products_query, :department) %>
              </th>
              <th>
                <%= sort_link(@products_query, :promotion) %>
              </th>
              <th>
                <%= sort_link(@products_query, :discounted_price) %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td>
                  <%= link_to product.id, product_path(product) %>
                </td>
                <td>
                  <%= link_to product.name, product_path(product) %>
                <td>
                  <%= number_to_currency(product.price_) %>
                </td>
                <td>
                  <%= product.department.name %>
                </td>
                <td>
                  <%= product.promotion&.code %>
                </td>
                <td>
                  <%= product.discounted_price %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>
